#workpage {
    height: auto !important;
    min-height: 95vh;
    padding-top: 5vh;
}

.project-wrapper {
    height: 370px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 100px;
}

.project-description-wrapper-left {
    text-align: left;
    padding-left: 30px;
}

.project-description-wrapper-right {
    text-align: right;
    padding-right: 30px;
}

#workheader-wrapper {
    height: 180px;
    padding-top: 35px;
}

.project-title {
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.project-title-sub {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.project-details {
    margin-top: 14px !important;
    font-size: 14px;
}

.project-desc {
    font-size: 13px;
}

.project-img {
    width: 90%;
}

.svg-wrapper {
    margin-top: 25px;
}

.project-img-wrapper, .project-desc-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}



/* contact styles */

#contactpage {
    height: 200px;
    /* background-color: rgb(8, 8, 8); */
}

#getintouch {
    border: solid  rgb(8, 8, 8) 2px;
    border-radius: 5px;
    color:  rgb(8, 8, 8) !important;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    padding: 3px 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
}

#contact-wrapper {
    text-align: center;
    font-weight: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 25px;

}

#designcredit {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: rgb(39, 39, 39);
    letter-spacing: 0.1em;
}


