#workpage {
    height: auto !important;
    min-height: 93vh;
    padding-top: 7vh;
}
.project-wrapper {
    height: 370px;
    font-size: 12px;
    margin-bottom: 100px;
}
.project-description-wrapper-left {
    text-align: left;
    padding-left: 30px;
}
.project-description-wrapper-right {
    text-align: right;
    padding-right: 30px;
}
#workheader-wrapper {
    height: 10%;
    padding-top: 35px;
}
.work-header-col {
    margin-bottom: 15px;
    margin-left: -40px;
}
.project-title {
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    border-bottom: solid black 1px;
    width: auto;
    padding-bottom: 7px;
}
.project-title-sub {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}
.project-details {
    margin-top: 14px !important; margin-bottom: 7px !important;
    font-size: 14px;
}
.project-desc {
    font-size: 13px;
}
.project-img {
    width: 100%;
    border-radius: 7px;
}


.svg-wrapper-right, .svg-wrapper-left {
    margin-top: 25px;
}
.svg-wrapper-right {
    display: flex;
    justify-content: flex-end;
}
.project-details-right{
    text-align: right;
}
.project-img-wrapper-desk, .project-img-wrapper-mobile {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}
.project-desc-wrapper {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
}

.mobileview-project-row {
    display: none;
}
.desktopview-project-row {
    height: 100%;
    width: 100%;
}

/* contact styles */
#contactpage {
    height: 200px;
    /* background-color: rgb(8, 8, 8); */
}

#contact-wrapper {
    text-align: center;
    font-weight: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 25px;

}
#designcredit {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: rgb(39, 39, 39);
    letter-spacing: 0.1em;
}


/* media queries */
@media only screen and (max-width: 768px)  {
    .desktopview-project-row { display: none; }
    .project-img-wrapper-mobile {margin-bottom: 20px; margin-top: 35px;}
    .project-img { width: 75%; }
    .mobileview-project-row {
        height: auto;
        width: 100%;
        display: inherit;
        padding-bottom: 40px;
    }
    #workheader-wrapper {
        height: 10%;
    }
    .project-desc-mobile {
        padding-left: 8.33%; padding-right: 8.33%; margin-bottom: 50px;
    }
    .work-header-col {
        margin-left: -20px;
    }
}

@media only screen and (max-width: 900px){
    .project-title {font-size: 20px; }
    .project-title-sub {font-size: 15px; }
    .project-details {font-size: 13px; }
}


/* MOBILE */
@media only screen and (max-width: 600px) {
    .project-details-right{
        text-align: left;
    }
    .svg-wrapper-right {
        justify-content: flex-start;
    }
}


